mat-card {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

mat-card-title {
    font-size: 24px;
}

mat-form-field {
    width: 100%;
    margin-top: 15px;
}

mat-card-actions {
    margin-top: 20px;
}

button {
    width: 100%;
}