<mat-spinner *ngIf="isLoading" style="margin: 100px auto;" mode="indeterminate"></mat-spinner>
<mat-card *ngIf="!isLoading">
    <mat-card-header>
        <mat-card-title>Who are you?</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput name="username" [(ngModel)]="username" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="password" required>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </mat-card-actions>
    </form>
</mat-card>