<mat-toolbar color="primary">
    <a class="title" href="/">{{ title }}</a>
    <div class="toolbar-spacer"></div>
    <button mat-raised-button *ngIf="!loginDisplay" routerLink="/login">Login</button>
    <button mat-raised-button color="accent" *ngIf="loginDisplay" (click)="logout()">Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>