mat-card {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

mat-card-title {
    font-size: 24px;
}

.avatar {
    border-radius: 50%;
    margin-bottom: 20px;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

mat-form-field {
    width: 100%;
}